img {
  max-width: 100%;
  height: auto;
}


body {
  margin: 0;
  padding: 40px 20px;
}


.intro{
    font-family: Arial, sans-serif; 
    text-align: center;
     margin: 0 auto;
     min-height: 30vh;
     padding: 5px 8px; 
    border-radius: 5px;
    background-color: #FFFFFF;
    
}

.intro2{
   font-family: Arial, sans-serif; 
  text-align: center;
  padding: 85px;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.links{
  margin-left: 30.5em;
}


 .330e .bmw-desc, .civic{
  font-family: Arial, sans-serif; 
  text-align: left;
   
}

 .introimage{
  margin: 0 auto;
  width: 600px;
  border: 3px solid;
  padding: 0px; 
  border-radius: 5px;
  display: block;
}

{
  margin: 50px;
  width: 600px;
  height: 400px;
  border: 3px solid;
  padding: 0px; 
  border-radius: 5px;
}

.bmwimg {
  display: block;
  margin: 0 auto;

  border: 3px solid;
  padding: 0; 
  border-radius: 0px;
}

.mercedesimg{
  border: 3px solid;
  padding: 0px; 
  border-radius: 0px;
   display: block;
  margin: 0 auto;
}
.330e-desc{
  font-family: Arial, sans-serif; 
  text-align: center;
  padding: 85px;
  justify-content: center;
  align-items: center;

}

h1, h2, h3, .links{
   font-family: Arial, sans-serif; 
   text-align: center;

}
p{
  font-size: 1.5rem;
  font-family: Arial, sans-serif;  
  padding: 20px, 40px;
}

 .links{
 font-size: 1.3em;
 text-align: center;
 font-family: Arial, sans-serif; 
}


.mercedes{
   font-family: Arial, sans-serif; 
  text-align: center;
  padding: 85px;
  justify-content: center;
  align-items: center;
}

.civic{
  text-align: center;
  padding: 85px;
  justify-content: center;
  align-items: center;
}

.civic-img{
  display: block;
  margin: 0 auto;
  width: 600px;
  border: 3px solid;
  padding: 0px; 
  border-radius: 5px;
}

.info{
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px;
  justify-content: center;
  align-items: center; 
}

h1 {
  text-align: center;
}
}



